.login-body {
    background: url('../images/jungle.png') no-repeat fixed center center;
    background-size: cover;
    font-family: Montserrat;
}

.login-logo {
    width: 213px;
    height: 36px;
    background: url('../images/baloot.png') no-repeat;
    margin: 30px auto;
    background-size: 100% 100%;
}

.login-container {
    width: 320px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    border-top: 5px solid #A97B47;
    margin: 0 auto;
}

.login-container h1 {
    text-align: center;
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
}

.login-container input {
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: Montserrat;
    padding: 0 20px 0 50px;
    outline: none;
}

.login-container input#username {
    background: #fff url('../images/user.png') 20px top no-repeat;
    background-size: 16px 80px;
}


.login-container input#password {
    background: #fff url('../images/pass.png') 20px top no-repeat;
    background-size: 16px 80px;
}


.login-container input:active, .login-container input:focus {
    border: 1px solid #A97B47;
}

.login-container button {
    width: 100%;
    height: 40px;
    background: #A97B47;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #593C1C;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Montserrat;
    outline: none;
    cursor: pointer;
}

.login-container button:hover {
    background: #A97B47;
}

